# DATABASE
HOST = 'localhost'
DB_USER = 'your_database_user'
PASSWORD = 'your_database_password'
DATABASE = 'trouve_ton_artisan'
DIALECT = 'mysql'
PORT_DATABASE = 3306

# SERVER PORT
PORT = 8000

# SECRET TOKEN
TOKEN = "your_secret_token_here"

# EMAIL SERVER (configuration pour l'envoi d'emails)
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_USER = 'your_email@example.com'
EMAIL_PASS = 'your_email_password'
EMAIL_FROM = 'noreply@yourdomain.com'
